body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mxhome {max-width: 100% !important;}
.pad-lh {
      padding: 10px;
    border: 1px solid #bbb7b7ee;
}
.proof-text {font-size: 20px;font-weight: bolder;}
.btx-fnft {
  margin-top: 40px;
}

.form-gh {
  width: 800px;
}
.section1 {float: left;}
.section3 {float: left;background:white;}
.section2 {float: left;background: #f0f0f0;}
.section4 {float: left;background: #1667b6;}

.home-head-btn {float: left;margin-top: 50px}
.home-head-btn2 {float: left;margin-top: 15px}

.home-head-btn2 a {margin-left: 15px; float: left;}
.home-head-btn a {margin-left: 15px; cursor: pointer;}

.cx {margin-left: 0px !important;}
.home-hd {margin-top: 40px !important;max-width: 100% !important;}
.lf-home {width: 57%;float: left; padding-left: 50px;}

.lf-home2y {width: 8%;
float: left;
padding-left: 50px;
border-top: 0px solid gray;}
.fright {width: 40%;float: left; padding-left: 50px;}

.lf-home2 {width: 40%;float: left; padding-left: 50px;border-top: 0px solid gray;}
.lf-home2x {width: 40%;float: left; padding-left: 50px;border-top: 0px solid gray;}

.fright2 {width: 60%;float: left; padding-left: 50px;border-top: 1px solid gray;}

.fright2x img {height: 270px;
margin-top: 17px;
margin-left: 140px;}

.home5t {font-size: 20px !important;}
.stat-box {
background-color: #fafafa;
background-image: radial-gradient(at 0% 0%, hsl(253deg 53% 99%) 0, transparent 50%), radial-gradient(at 90% 70%, hsl(225deg 1% 60%) 0, transparent 50%), radial-gradient(at 100% 0%, hsl(35deg 88% 79%) 0, transparent 50%);

  height: 200px;
    width: 200px;
    padding-top: 70px !important;
    font-weight: bolder;
    margin-top: 60px;
    margin-left: 30px;
}
.ps-abs {

position: absolute;

}
.sc-htext {margin-top: 40px;}
.pad-th {
      padding: 10px;
      font-weight: bolder;
}
.maincont {
  min-height: 700px;
  width: 100%;
}
.srch input {width: 550px !important;}
.newcont {
  margin-left: 0%;
}
.padd-gh {padding-left: 10px; padding-top: 10px;}
.results img {height: 90px;
    padding: 10px;}
.latest-stamps {
  margin-top: 100px;
}

.rs-owner a {color: blue;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sc-lgtitle {margin-top: 10px;}
.btncode {
  padding-top: 23px;
}
.bquote {
    background: #eaeaeaee;
    border: 1px solid #eaeaeaee;
    border-radius: 5px;
    padding: 9px;
    line-height: 28px;
    }
.stamp-text {
 font-size: 20px;
}
.stamp-text a {
  text-transform: uppercase;
  }
.dvright {
  height: 262px;margin-top: 14px;margin-left: 42px;
}
.qradd {
  height: 258px;margin-top: 68px;
}
.btncopy {margin-top: 20px;}
.btncopyx {
  height: 35px !important;
    font-size: 15px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px;
}
.jsblock {
text-align: left;
float: left;
width: 265px;
padding: 6px;
font-style: italic;
border: 1px solid #888;
height: 158px;
margin-top: 15px;
}
.dsleft {
  height: 283px;
width: 280px;
}
.ulbox {
  display: flex;
}
.lileft {
  width: 280px;
}
.liright {
width: 220px;
}
.clipboard {
    border: 0;
    padding: 15px;
    border-radius: 3px;
    background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);
    cursor: pointer;
    color: #04048c;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    position: relative;
    top: 0;
    transition: all .2s ease;
    &:hover {
      top: 2px;
    }
  }
.fright5x img {height: 235px;}
.fleft-home {float: left;
font-size: 20px;
margin-bottom: 20px;}

.fleft-home2 {float: left;
font-size: 20px;
margin-bottom: 20px;
margin-top: 13px;
}

.fleft-home2x {float: left;
font-size: 20px;
margin-bottom: 20px;
margin-top: 13px;
}

.fnft-f {
  display: flex;
  float: left;
}
.fnft-f li {
  float: left;
  font-weight: bolder;
}

.clipboard2 {
    border: 0;
    padding: 15px;
    border-radius: 57px;
    background-image: linear-gradient( 135deg, #A3C0C1 10%, #D4E1E2 100%);
    cursor: pointer;
    color: #04048c;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    position: relative;
    top: 0;
    transition: all .2s ease;
    &:hover {
      top: 2px;
    }
  }
  
#logox {margin-top: 10px;max-width: 70% !important;}
.stamp {
width: 520px;
text-align: left;
}
.empty-space {    background-color: white;
    height: 100%;}
.pinfo label {font-size: 15px !important;}
.doctext {font-weight: bolder;margin-top: 45px;}
.docicons img { height: 50px; float: left; padding-right: 10px;margin-top: 5px;}
.impos { height: 315px;}
.imposx { height: 315px;width: 50%;}
.imposxx {width: 100%;height: 510px;display: flex;}
.imposxx .pinfo {padding-top: 20px;}
.render-left {width: 60%;padding-left: 10px;}
.render-right {width: 40%;}
.cv-line {border-bottom: 1px solid;}
.render-right li {text-align: left; padding-left: 10px;line-height: 30px; border-bottom: 1px #c2bdbd;}
.dstamp {    
text-align: left;
height: 315px;
background-color: #f9d6a5;
padding: 15px;
  }
.cv-price {
  margin-top: 10px;
  font-size: 22px;
  font-weight: bolder;
}
.cv-price span {float: right; padding-right: 15px;}
.dstamp-mint {    
text-align: left;
height: 315px;
background-color: #f3f3f3;
padding: 15px;
  }

.prop-section { border: 1px solid gray; padding: 5px; width: 100%; text-align: left; background-color: #f3f3f3; }

.stamp label {
 width: 100%; 
}
.mint-render-line {
  line-height: 30px;
  padding-top: 2px;
}
.render_plan {width: 250px;margin-left: 1p% !important;}
.mint-render-line .st-owner {    width: 65%;
    padding-left: 24px;
    color: #444!important;
    text-transform: uppercase;
    text-align: left;}

.mint-render-line .st-owner a {      text-transform: uppercase;
  color: #444 !important;
    font-size: 12px !important;
    font-weight: bolder;}
.mint-render-line .st-name {  
background-color: #414541;
    width: 65%;
    height: 30px;
    padding-bottom: 0px;
    padding-left: 25px;
    font-size: 20px !important;
    color: white !important;
    text-align: left;
    }

.pdd-30 {margin-left: 30px;margin-right: 50px;}
.bi-box {margin: 3px;}
.stamp #nftdigital {
width: 360px;
}
.stampc {
  margin: 0px;
}
.st-image img {
  height: 305px;
margin-left: 8%;
border-radius: 7px;
}
.nftcontainer {height: 1090px;}
.nftcontainer2 {height: 2450px;}

.st-container {padding-left: 25px;}
.st-name {padding-left: 25px;}
.st-owner {padding-left: 25px; font-size: 13px;}
.st-owner a {color: blue;}
.nftrow {height: 795px;width: 545px !important; background-color: aliceblue;}
.nftrow2 {height: 100%;width: 100% !important; background-color: #f7f7f7;}

.rectx {border: 1px solid #888;
    border-radius: 9px;
    font-size: 15px;
    padding-top: 20px}

 .rect-mint {border: 0px solid #888;
    border-radius: 9px;
    font-size: 15px;
    padding-top: 15px}
.lgtitle {text-align: left;}

.lgtitle-prop {font-weight: bold;
font-size: 18px;}


.ccontainer {
  display: flex;
  overflow: scroll;
  width: 100%;
  max-width: 100%;
  padding-left: 14px;
  border: 1px grey solid;
  border-radius: 5px;
  color: black
}

.ccontainer input {
  width: 100%;
  min-width: 50%;
  border: none;
  border-radius: 5px;
  padding: 14px;
  padding-left: 14px;
}

.tag {
  display: flex;
  align-items: center;
  margin: 7px 0;
  margin-right: 10px;
  padding: 0 10px;
  padding-right: 5px;
  border: 1px solid orange;
  border-radius: 5px;
  background-color: orange;
  white-space: nowrap;
  color: white;
}

.tag button {
  display: flex;
  padding: 6px;
  border: none;
  background-color: unset;
  cursor: pointer;
  color: white;
}

.inputx2 {
  text-align: center !important;
  width: 50px !important;
  font-weight: bold;
  position: relative; 
  cursor: text;
  font-size: 14px;
  line-height: 20px;
  padding: 0 16px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #d6d6e7 !important;
  border-radius: 3px !important;
  color: rgb(35, 38, 59) !important;
  box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%) !important;
   overflow: hidden;
   transition: all 100ms ease-in-out !important;
   :focus {
     border-color: #3c4fe0;
    box-shadow: 0 1px 0 0 rgb(35 38 59 / 5%);
          }
    }
.text-blacker {
  font-weight: bold !important;
    color: black !important;
}

.flleft { float: left; }

.inputx {
  font-weight: bold;
  text-align: left !important;
  width: 88% !important;
  position: relative; 
  cursor: text;
  font-size: 14px;
  line-height: 20px;
  padding: 0 16px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #d6d6e7 !important;
  border-radius: 3px !important;
  color: rgb(35, 38, 59) !important;
  box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%) !important;
   overflow: hidden;
   transition: all 100ms ease-in-out !important;
   :focus {
     border-color: #3c4fe0;
    box-shadow: 0 1px 0 0 rgb(35 38 59 / 5%);
          }
    }
.gradient-bg-welcome {
background-color: #fafafa;
background-image: radial-gradient(at 0% 0%, hsl(253deg 53% 99%) 0, transparent 50%), radial-gradient(at 90% 70%, hsl(225deg 1% 60%) 0, transparent 50%), radial-gradient(at 100% 0%, hsl(35deg 88% 79%) 0, transparent 50%);
}

.nav-wrapper a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif';
}

.text-left{text-align:left!important}